.box {
  box-sizing: border-box;  
  border: 20px solid #a70e9ffd;
  width: 450px;
  height: 400px;
  overflow: scroll;
  padding: 10px;
  background: rgba(214, 13, 107, 0.24);
  font-size: 24px;
  margin: 0 auto;
  margin-top: 50px;
}

button {
  margin: 0 auto;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: rgba(160, 8, 41, 0.897);
  border: none;
  display: block;
}